<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Peter Munk">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Activity Online</title>
  </head>
  <body class="d-flex h-100 text-center">
	<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
          <h1 class="container">Activity Online</h1>
        </div> 
    </header>
    
     <main class="px-3">
		<form action="/{{ room_name_suggest }}" method="POST" id="form" class="row mb-3 align-items-center needs-validation" novalidate>
			<fieldset class="input-group col" >
				<legend>Select word sets</legend>
				{% for wordFile, lines in files.items() %}
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" id="cb_{{wordFile}}" value="{{wordFile}}" name="wordListSet" {% if wordFile=="Easy 1" %} checked {% endif %}>
						<label class="form-check-label" for="cb_{{wordFile}}">{{wordFile}} ({{lines}})</label>
					</div>				
				{% endfor %}
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="cb_own" value="ownWords" name="wordListSet">
					<label class="form-check-label" for="cb_own">Own Words</label>
				</div>
			</fieldset>
	
			<div id="textOwnWords" class="input-group mb-3" style="display: none">
			  <textarea name="ownWordList" class="form-control" aria-label="Your words" placeholder="Your words separated by comma (&quot;,&quot;), semicolon (&quot;;&quot;), or new line (Enter). Spaces do not separate words."></textarea>
			</div>

			<div class="input-group mb-3 flex-nowrap has-validation">
				<span class="input-group-text">Room name</span>
				<div class="col">
					<input type="text" aria-label="Room name" aria-describedby="btn_room" class="form-control" id="roomName" value="{{ room_name_suggest }}" pattern="[A-Za-z0-9-_]*" required>
					<div class="invalid-feedback">
						Only use characters, numbers and - or _
					</div>
				</div>
				<button class="btn btn-outline-primary" type="button" id="btn_room">Create Room</button>
			</div>
		</form>
        <blockquote class="lead bg-light"> 
        This is a WebApp to play the activity board game online.
        One player has to describe, to paint, or to act (pantomime) a given phrase and the other players have to find out what that should be within a predefined time.
		Each player can adjust the default time limits individually.
        Note that this WebApp does not enforce who's turn it is, nor does it count points or check for correct answers.
        It merely serves to provide words and a Skype, Teams, Zoom, Jitsi or similar session is required to explain words, draw them on a shared whiteboard, and to act in from of a webcam.
    	</blockquote>
      </main>

      <footer class="footer mt-auto">
      <div class="container">
        <h3>About</h3>
	    <p>© <a href="http://www.peter-munk.de" target="_blank">Peter Munk</a> 2021
	    </p>
	    <p> Thanks to 
		<a href="https://hobbylark.com/party-games/charades-words" target="_blank">hobbylark.com</a>,
		<a href="https://www.thegamegal.com/2011/10/19/charades-word-list/" target="_blank">thegamegal.com</a>, and
		<a href="https://www.youngstarswiki.org/es/wiki/activity.html" target="_blank">youngstarswiki.org</a> for the word lists,<br>
	    to  <a href="https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/" target="_blank">CSS-tricks.com</a> for the visual timer,
	    <br>to <a href="https://towardsdatascience.com/build-a-simple-web-app-with-github-pages-flask-and-heroku-bcb2dacc8331" target="_blank">towardsdatascience.com</a> for the general architecture, 
	    <br>to <a href="https://flask-socketio.readthedocs.io/en/latest/" target="_blank">flask-socket.io</a> for the brilliant communication framework, 
	    <br>to <a href="https://devcenter.heroku.com/articles/python-websockets" target="_blank">heroku</a> for running
	    and to <a href="https://github.com/mfgpcm/activityOnline" target="_blank">github</a> for hosting the source code.
	    </p>
        </div>

	    </div>
      </footer>
    </div>
    
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/start.js') }}"></script>
        
  </body>
</html>
