<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Peter Munk">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Countdown Timer Default Style -->
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">     

    <title>Activity Online</title>
  </head>
  <body class="d-flex h-100 text-center">
  
	<audio id="beepsAudio" preload="auto">
		<source src="{{ url_for('static', filename='media/beeps.mp3') }}" type="audio/mpeg" >
		Your browser doesn't support HTML5 audio.
	</audio>
  
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
     <header class="mb-auto">
        <div class="container">
          <h2>Activity Online</h2>
          <!-- <p>Share this link <a href="https://activity-online.herokuapp.com/{{ room_name }}">https://activity-online.herokuapp.com/{{ room_name }}</a> with your friends.</p>  -->
		  <p>Share this link <a href="http://localhost:5000/{{ room_name }}">http://localhost:5000/{{ room_name }}</a> with your friends.</p>
		  <p>Selected word sets: 
			{% for wordSet in wordSets %}
			{{wordSet}}{% if wordSet != wordSets[-1] %}, {% endif %}
			{% endfor %}
		   </p>
        </div> 
    </header>
    
     <main class="mb-auto">
        <div class="container">
            <h1 id="word">Click to get a word</h1>
			
			<div class="btn-group" role="group">
				<button class="btn btn-outline-primary" id="btn_explain" type="button" >Explain (15 sec)</button>
				<div class="btn-group-vertical" role="group">
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_explainPlus">+</button>
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_explainMinus">-</button>
				</div>
			</div>
			<div class="btn-group" role="group">
			<button class="btn btn-outline-primary" id="btn_draw" type="button" >Draw (30 sec)</button>
			<div class="btn-group-vertical" role="group">
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_drawPlus">+</button>
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_drawMinus">-</button>
				</div>
			</div>
			<div class="btn-group" role="group">
            <button class="btn btn-outline-primary" id="btn_pantomime" type="button" >Pantomime (60 sec)</button>
			<div class="btn-group-vertical" role="group">
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_pantomimePlus">+</button>
				  <button type="button" class="btn btn-outline-secondary btn-sm" id="btn_pantomimeMinus">-</button>
				</div>
			</div>
			
			<div class="base-timer">
			  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
				<g class="base-timer__circle">
				  <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
				  <path
					id="base-timer-path-remaining"
					stroke-dasharray="283"
					class="base-timer__path-remaining green"
					d="
					  M 50, 50
					  m -45, 0
					  a 45,45 0 1,0 90,0
					  a 45,45 0 1,0 -90,0
					"
				  ></path>
				</g>
			  </svg>
			  <span class="base-timer__label" id="base-timer-label">0:00</span>
			</div>
			
			<p class="container">
				<button class="btn btn-outline-primary" id="btn_finish" type="button" style="display: none">End turn</button>
			</p>
			
			<div class="container">
				<button class="btn btn-outline-secondary btn-sm" id="btn_reset" type="button" >Reload word list</button>
				<h3 id="reset"></h3>
				<div class="btn-group" role="group">
					<div class="form-check form-switch">
					  <input class="form-check-input" type="checkbox" id="audioSwitch" checked>
					  <label class="form-check-label" for="audioSwitch">Play beeps</label>
					</div>
				</div>
			</div>
			
  	    </div>
      </main>

      <footer class="footer mt-auto">
      <div class="container">
	    © <a href="http://www.peter-munk.de" target="_blank">Peter Munk</a> 2021<br>
		<a href="https://www.buymeacoffee.com/mfgpcm" target="_blank">Buy the developer a coffee</a>, 
	    <a href="https://github.com/mfgpcm/activityOnline" target="_blank">report issues, or contribute.</a><br>
		Beeps sound by <a href="https://freesound.org/people/ThompsonMan/sounds/107341/" target="_blank">ThompsonMan</a>
	    </div>
      </footer>
	    
	</div>
	<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
